@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #e9e9e9;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #696969;
}

.card-top {
    color: #010101;
}

.card {
    width: auto;
    height: 70vh;
    aspect-ratio: 5 / 2;
    border-radius: 30px;
    display: flex;
    padding: 0px;
    overflow: hidden;
}

.main-section,
.card-side-section {
    padding: 20px 30px;
}

.main-section {
    background-color: #fafafa;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}



.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    font-weight: 500;
}

.card-middle {
    display: flex;
    height: 55%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.weather-icon {
    width: auto;
    aspect-ratio: 1 / 1;
}

.current-details-ctn, .weather-icon {
    height: 80%;
}

div.current-details-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-details-ctn .temperature {
    font-size: 8rem;
    font-weight: 400;
    color: #33cccc;
    position: relative;
}

.current-details-ctn .temperature::after {
    content: "\00B0";
    position: absolute;
}

.current-details-ctn > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-details-ctn .weather-description {
    font-size: 2rem;
    font-weight: 500;
}

.current-parameters > div {
    display: flex;
    height: 2.5rem;
    align-items: center;
    margin-left: 2rem;
    font-size: 1rem;
}

.current-parameters img {
    width: 3rem;
    height: auto;
    aspect-ratio: 1;
}

.card-bottom {
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.upcoming-days-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    flex-grow: 1;
}

.upcoming-days-ctn.current {
    border: 2px solid #e1e1e1;
    border-radius: 20px;
}

.upcoming-days-ctn > div:nth-child(2)::after {
    content: "\00B0";
}

.upcoming-days-ctn > div:nth-child(2) {
    font-size: 2rem;
}

.upcoming-days-ctn > div:nth-child(3) {
    font-weight: 400;
    color: #b1b1b1;
}

.card-side-section {
    background-color: #f6f6f6;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.top-side {
    font-weight: 500;
    font-size: 1.5rem;
    color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-grow: 1;
}

.side-current-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

.side-current-ctn > div:nth-child(1) {
    font-size: 2rem;
    font-weight: 700;
}

.side-current-ctn > div:nth-child(1)::after, .feels-like::after {
    content: "\00B0";
}

.side-current-ctn > div:nth-child(3) {
    font-size: 1.5rem;
    font-weight: 500;
}

.side-hourly-ctn {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.side-hourly-ctn > div:nth-child(1) {
    font-weight: 600;
    font-size: 1.5rem;
    color: #010101;
}

.hourly-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 10px;
    align-self: stretch;
}

.hourly-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 500;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    padding: 8px;
}

.hourly-card > div:nth-child(2) {
    font-size: 1.5rem;
}

.hourly-card > div:nth-child(2)::after {
    content: "\00B0";
}

.hourly-card > div:nth-child(3) {
    color: #b1b1b1;
}

body .card .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

body .card .skeleton > img {
    visibility: hidden;
}

@keyframes skeleton-loading {
    0% {
        background-color: #F5F5F5; /* FROM Color 1 */
    }
    100% {
        background-color: #E2E2E2; /* TO Color 2 */
    }
}
